<main>
  <h1>{{cubeData.name}}</h1>
  <img class="cube" src="{{cubeData.imageUrl}}" />
  <div class="details">
    <p><span>Description:</span>
      {{cubeData.description}}</p>
    <p><span>Difficulty level:</span> {{cubeData.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/cubes/{{cubeData._id}}/accessory">Attach</a>
    {{#if isOwner}}
      <a class="btn" href="/cubes/{{cubeData._id}}/edit">Edit</a>
      <a class="btn" href="/cubes/{{cubeData._id}}/delete">Delete</a>
    {{/if}}
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each cubeData.accessories}}
      <div class="accessory">
        <img src="{{imageUrl}}" alt="{{name}}" />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
      </div>
    {{else}}
      <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
  </div>
</main>